/* Footer  */

#footer {
    text-align: center;
}

body {
	background: #e9e9e9;
}

.item h2 {
	font-size: 1.3em;
	line-height: 1em;
}
.item p {
	font-size: .9em;
	line-height: 1.2em;
}
p.artist {
	font-weight: bold;
	font-size: 1.1em;
	margin: 0.5em 0 0 0;
}
.maj {
	text-transform: uppercase;
}
p.meta {
	font-size: 0.85em;
	color: #888;
}